/* Centrar el contenido */
.contador_container {
    text-align: center;
    margin-top: 80px;
}

.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Asegura que el texto se alinee */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 20px; /* Evita márgenes innecesarios */
}


.contador_container h1 {
  text-align: center;
  color: #2196f3;
}

  /* Estilizar los botones */
  .contador_container button {
    font-size: 18px;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.botones-container {
  display: flex;
  justify-content: center;
  gap: 5px; 
  margin-top: 20px;
}

.contador_container button:hover {
    background-color: rgb(140, 39, 194);
    opacity: 0.8;
}

  /* Botón de incrementar */
.incrementar {
    background-color: #4caf50;
    color: white;
}

  /* Botón de decrementar */
.decrementar {
    background-color: #f44336;
    color: white;
}

  /* Botón de reset */
.reset {
    background-color: #2196f3;
    color: white;
}
