body {
    background-color: #93ebf7; /* Azul claro */
    color: #070707; /* Color de texto oscuro para buen contraste */
}

h1 {
    text-align: center;
}

.pokemon_container {
    text-align: center;
    margin-top: 20px;
}

.pokemon_button {
    background-color: #646cff; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 8px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    font-weight: bold; 
    text-transform: uppercase; 
}

.pokemon_button:hover {
    background-color: #535bf2; 
}

.pokemon_button:focus {
    outline: none; /* Quitar el borde de foco */
    box-shadow: 0 0 0 3px rgba(100, 107, 255, 0.5); 
}

.pokemon_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 tarjetas por fila */
    gap: 25px;
    padding: 20px;
    justify-content: center;
}

.pokemon_card {
    background-color: #f2c7bf;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.pokemon_card:hover {
    transform: scale(1.05);
}

.pokemon_card img {
    width: 120px;
    height: 120px;
}

.pokemon_card p {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}

/* Nuevos estilos para los detalles */
.pokemon_type {
    font-size: 14px;
    margin-top: 5px;
    color: #fe0606;
}

.pokemon_stat {
    font-size: 14px;
    margin-top: 5px;
    color: #444;
}

/* ---- Media Queries (para responsividad) ---- */
@media (max-width: 1024px) {
    .pokemon_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .pokemon_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .pokemon_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


